<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrar nuevo desfibrilador</title>
    <link rel="stylesheet" href="../css/master.css" />
  </head>
  <body>
    <nav class="nav">
      <a class="button-back" href="/"
        ><iconify-icon class="icon" class="icon" icon="ep:arrow-left-bold"></iconify-icon
      ></a>
      <h1>Patorrat</h1>
    </nav>

    <%

      const renderInputs = (inputs) => {
        for(let key in inputs){
          const inputData = inputs[key];
          for(let label of inputData.labels) {
            let value = (loadedValues && loadedValues[key]) ? loadedValues[key] : "";
            if(key === "VEHICLES_DISPONIBLES_CHECKBOXES") {
              try{
                if(loadedValues.VEHICLES_DISPONIBLES){
                  value = JSON.parse(loadedValues.VEHICLES_DISPONIBLES)[label];
                }
              }catch(err){
                console.log(err)} 
              }
              
              const stylesClass = (inputData.type !="checkbox") ? "form-input" : "checkbox-input";
              const checked = (value && inputData.type === "checkbox") ? "checked" : "";
              const required = (inputData.required) ? "required" : ""; %>
              <label class="large-label"><%= label %>
            <input
              type="<%= inputData.type %>"
              value="<%= value %>"
              <%= checked %>
              <%= required %>
              step="<%= inputData.step %>" name="<%= key %>" data-label="<%= label %>"
              class="<%= stylesClass %>" />
            <span
              class="input-feedback"
              data-name="<%= key %>"
            ></span
            ><span class="tick" data-name="<%= key %>"
              ><iconify-icon class="icon" icon="charm:tick"></iconify-icon></span></label
          ><% } }
      }
    %>

    <form id="form" class="form" action="/" method="POST">
      <input id="validated-inputs" type="hidden" value="">
      <% for(let k in fieldsets) { const fieldset = fieldsets[k]; %>
      <div class="fieldset-border">
        <fieldset>
          <legend><%= fieldset.label %></legend>
          <% renderInputs(fieldset.fields); %>
        </fieldset>
      </div>
      <% } %>

      <div class="btns-wrapper">
        <button class="btn main" id="send-button" type="submit">Desa</button>
        <a class="btn" href="/">Cancel·la</a>
      </div>
      <span id="popup-must-validate" class="feedback-popup feedback-err">Algunos datos no son válidos</span>
      <% if(locals.feedback) {
        const feedbackClass = (!locals.error) ? "feedback-err" : "feedback-msg" %><span class="show feedback-popup <%= feedbackClass %>"
        ><%= feedback %></span
      ><% } %>
    </form>

    <% if(locals.dbError) {
        %><span class="feedback-popup show feedback-err">No s'ha pogut connectar amb la Base de Dades.</span><%
    } %>
    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
    <script>
      const sendButton = document.getElementById("send-button");
      const disp = document.getElementsByName("DISPONIBLE")[0];

      // Make checkboxes' value be true or false
      sendButton.addEventListener("click", () => {
        const vehiclesCheckboxes = document.getElementsByName(
          "VEHICLES_DISPONIBLES_CHECKBOXES"
        );
        const dispVehiclesInput = document.getElementsByName(
          "VEHICLES_DISPONIBLES"
        )[0];
        let dispVehicles = {};
        for (let el of vehiclesCheckboxes) {
          dispVehicles[el.dataset.label] = el.checked;
        }

        dispVehiclesInput.value = JSON.stringify(dispVehicles);
        disp.value = disp.checked;
      });
    </script>

    <script src="../js/check-address.js"></script>
    <script src="../js/regex.js"></script>
    <script src="../js/validate-forms.js"></script>
  </body>
</html>
