<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Patorrat</title>
  <link rel="stylesheet" href="../css/main-app.css" />
</head>

<body>
  <% const parseTime = (time) => {
    const roundedTime = Math.round(time / 60) * 60;
    const dateStr = new Date(roundedTime * 1000).toISOString();
    const minutes = dateStr.substring(14, 16);

    const res = `${minutes}'`;

    return res;
  } %>

  <% const renderDefibs = (defibs) => {
        for(let defib of defibs) {
          const time = parseTime(defib.TIME) %>
  <li class="el main-list__el"><a href="tel:<%= defib.TEL %>">
      <div class="el__data">
        <h3 class="el__title"><%= defib.NOM %></h3>
        <h4 class="el__subtitle"><%= defib.ADRECA %></h4>
      </div>
      <span data-time="<%= defib.TIME %>" class="el__append"><%= time %> <iconify-icon class="icon" icon="carbon:timer"></iconify-icon></span>
    </a></li>
  <% }
    }


    const renderVolunteers = (volunteers) => {
      %>
  <h3>Hemos encontrado algunos voluntarios cerca, no tardarán en llegar.</h3>
  <h4>Ellos saben hacer la reanimación cardiopulmonar correctamente.</h4>
  <%
    }


    %>


  <% const checkIfDefib = () => {
        if(!locals.defibs) { 
          if(!locals.volunteers) { %>
  <p>No hay desfibriladores disponibles</p>
  <% } else { renderVolunteers(volunteers); }
        }else{
          renderDefibs(defibs);
        }
    } %>

  <div class="popup centered show">
    <h3 class="popup__title">Avisar al 112?</h3>
    <div class="btn-w"><a class="btn main center" href="tel:+34 682 57 20 05">Sí, avisa</a></div>
    <button onclick="hidePopup(this)" class="btn">Cancel·la</button>
  </div>

  <nav>
    <a href="/defib"><img /></a>
    <a class="btn main" href="tel:+34 682 57 20 05">Avisar al 112</a>
  </nav>

  <div id="wrapper" class="wrapper">
    <% if(locals.defibs.length) { %>
      <h2 class="page-title">Quan hagis triat un desfibril·lador,
        fes-hi clic a sobre.
      </h2>
      <ul class="defs-list main-list">
        <% checkIfDefib(); %>
      </ul>
    <% }else { %>
      <h2 class="mt-4 mb-1">
        Sembla que no hi ha desfibril·ladors gaire a prop. Sisplau, fes companyia a la víctima fins que arribin les autoritats.
      </h2>
      
    <% } %>

    <span id="feedback-popup" class="feedback-popup"></span>

    <script src="../html-js/functions.js"></script>
    <script src="../html-js/feedback-popup.js"></script>

    <% if(locals.acc && !locals.dbError) {
      if(acc && acc > 500) {
        %>
        <script>
          showFBPopup("La localització no és gaire precisa", "feedback-err");
        </script>
        <%
      }
    } %>

    <% if(locals.dbError) {
        %><script>
          showFBPopup("No s'ha pogut connectar amb la Base de Dades", "feedback-err");
        </script><%
    } %>

    
  </div>
  <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>

  <script>
    const hidePopup = el => {
      const parent = el.parentNode;
      parent.classList.remove("show");
    }
  </script>


  <script src="/socket.io/socket.io.js"></script>
  <script src="../html-js/index.js"></script>
</body>

</html>